<!DOCTYPE html>
<html ng-app="geoRender">
    <head>
        <title>GeoRender</title>

        <link rel="stylesheet" href="style.css">

        <script src="out/app.js"></script>
    </head>
    <body ng-controller="mainController">
        <div class="ui">
            <div class="groupbar">
                <div class="group" ng-repeat="group in groups" ng-click="setMenu(group.id)">
                    <img ng-src="assets/tools/{{group.img}}"/>
                </div>
            </div>

            <div class="toolbar" ng-if="menu.current.length > 0" ng-animate>
                <div class="tool" ng-repeat="tool in menu.current" ng-mouseover="setInfo(tool.info)" ng-mouseleave="setInfo('')">
                    <img ng-src="assets/tools/{{tool.img}}">
                    <span>{{tool.label}}</span>
                </div>
            </div>

            <div class="informator" ng-if="informator != ''">
                <span class="left" ng-bind="informator"></span>
                <span class="right"></span>
            </div>
        </div>

        <div class="canvas">
            <canvas id="geomcanvas"></canvas>
        </div>
    </body>
</html>
