<!DOCTYPE html>
<html ng-app="geoRender">
    <head>
        <title>GeoRender</title>

        <link rel="stylesheet" href="style.css">

        <script src="out/app.js"></script>
        <script src="out/ng/ng-menu.js"></script>

    </head>
    <body ng-controller="mainCtrl" ng-click='bodyClick()'>
        <div class="ui">
            <div class="groupbar">
                <div class="group" ng-repeat="group in groups" ng-click="setMenu(group.id)">
                    <img ng-src="assets/tools/{{group.img}}"/>
                </div>
            </div>

            <div class="toolbar" ng-if="menu.current.length > 0" ng-animate>
                <div class="tool" ng-repeat="tool in menu.current" ng-mouseover="setInfo(tool.info)" ng-mouseleave="setInfo('')" ng-click="setTool(tool.toolstate)">
                    <img ng-src="assets/tools/{{tool.img}}">
                    <span>{{tool.label}}</span>
                </div>
            </div>

            <div class="primitives">
                <h1>Primitives</h1>
                <ul>
                    <li ng-repeat="primitive in primitivelist"
                            ng-mouseenter="selectedIndex = $index"
                            ng-mouseleave="selectedIndex = -1"
                            ng-click="primitive.selected = !primitive.selected"
                            ng-class="{selected: primitive.selected}">
                        {{ primitive.typename }} - {{ primitive.isUndependant() ? (primitive.x + ', ' + primitive.y) : 'f(...)' }}
                    </li>
                </ul>
            </div>

            <!-- TODO: Show Complete condition -->
            <div class="informator" ng-if="informator != '' || true">
                <span class="left" ng-bind="informator"></span>
                <span class="right">
                    Tool State: {{ toolstate }}
                    <span class="button" ng-click="actionComplete()">End Action</span>
                    <span class="spacer"></span>
                    <span class="button" ng-click="actionCancel()">Cancel Action</span>
                </span>
            </div>
        </div>

        <div class="canvas">
            <canvas id="geomcanvas"></canvas>
        </div>
    </body>
</html>
