@font-face {
	font-family: Noto;
	font-style: normal;
	src: url('assets/fonts/NotoSans-Regular.ttf');
}

body {
	font-family: Noto;
	font-size: 0.95em;
	margin: 0px;
	padding: 0px;
    background: #E6E6E6;
}

.ui {
	position: relative;
	height: 100vh;
}

.groupbar, .toolbar {
	width: 50px;

	background: white;
	margin-top: 10px;

	border-top: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	box-sizing: border-box;

	float: left;
}

.groupbar {
	padding-top: 15px;
	padding-bottom: 400px;
}

.toolbar {
	text-align: center;
	width: 100px;
	margin-top: 25px;
	height: 450px;
}

@keyframes toolbar_open {
	from { width : 0; }
	to { width: 100px; }
}

@keyframes toolbar_close {
	from { width : 100px; }
	to { width: 0; }
}

@keyframes tool_open {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes tool_close {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.toolbar.ng-enter {
	animation: toolbar_open 150ms linear;
}

.toolbar.ng-leave {
	animation: toolbar_close 150ms linear;
}

.toolbar.ng-enter * {
	animation: tool_open 150ms linear;
}

.toolbar.ng-leave * {
	animation: tool_close 150ms linear;
}

.group {
	height: 50px;
}

.tool {
	display: block;
	height: 50px;
	font-size: 10px;
}

.tool > img {
	display: block;
	height: 40px;
	margin: 0 auto;
}

.tool > span {
	display: block;
	margin-top: -5px;
	cursor: default;
}

.group:hover, .tool:hover {
	background: rgba(222, 222, 222, 0.43);;
}

.informator {
	position: absolute;
	width: 100vw;
	height: 25px;
	box-sizing: border-box;
	background: white;
	bottom: 0;
	border-top: 1px solid #F0F0F0;
	font-size: 14px;
    padding: 2px 7px;
}

#geomcanvas {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}


















/* --------------------- */
